# Auto detect text files and perform LF normalization
* text=auto

# Ignore CSS and HTML in GitHub language statistics so JavaScript becomes primary
*.css linguist-detectable=false
*.html linguist-detectable=false